*{
    margin: 0px;
    padding: 0px;
    font-family: poppins, Arial, Helvetica, sans-serif;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logo{
    width: 100px;
    height: 100%;
    margin-right: auto;
}
.navbar{
    background-color: #A1E3F9;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: auto;
}
.navbar-nav .nav-item:hover{
    background-color: #ffffff;
    border-radius: 10px;
}