*{
    margin: 0px;
    padding: 0px;
    font-family: poppins, Arial, Helvetica, sans-serif;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logo{
    width: 100px;
    height: 100%;
    margin-right: auto;
}
.navbar{
    background-color: #A1E3F9;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: auto;
}
.navbar-nav .nav-item:hover{
    background-color: #ffffff;
    border-radius: 10px;
}
.carousel-item{
    height: 90vh;
}
.carousel-indicators [data-bs-target] {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
}
.overlay{
    background-color: black;
    opacity: 20%;
    width: 100%;
    height: 100%;
    position: absolute;
}
.carousel-item-img{
    height: 100%;
    position: relative;
}
.carousel-item-img img{
    object-fit: cover;
}

.carousel-caption h1, .carousel-caption p{
    font-size: medium;
}
.feature-icon{
    background-color: #578FCA;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.feature-icon i{
    color: white;
}
.feature.col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 5px;
    width: 40%;
}
.feature.col h3, .feature.col p{
    font-size: medium;
}
.feature.col h3{
    font-weight: bolder;
}
.keunggulan-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.keunggulan-content h2{
    font-weight: bolder;
    width: 100%;
    border-bottom: 0.01px solid#578FCA;
}
.keunggulan-list{
    justify-content: space-between;
    align-items: center;
}
.feature.col p a{
    text-decoration: none;
    color: #578FCA;
    font-weight: 600;
}
.testimonial-alumni{
    padding: 20px;
}
.student-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.student-img{
    width: 100px;
    height: 100%;
}
.card-alumni{
    width: 40%;
    height: 250px;
    display: flex;
    flex-direction: row;
}
.student-desc{
    font-size: xx-small;
    gap: 10px;
}
.card-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}
.testi-header{
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testi-header h2{
    height: fit-content;
    font-weight: bolder;
}
.partnership-content .card{
    width: 20rem;
    align-items: center;
    justify-content: center;
}
.card-partner-img{
    width: 250px;
    height: 250px;
    margin: 10px;
}
.card-partner-img img{
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}
.partnership-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:center
}
.card-body{
    font-size: smaller;
    font-weight: bold;
}
footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0px 0px 0px;
}
